* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.container {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 400px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  align-items: center; 
  margin-top: 50px;    
}

.game {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  padding: 15px;
  width:360px;
  height: 360px;
  border-radius: 10px;
  background: rgb(226, 223, 223);
}

.die {
  width: 36px;
  height: 36px;
  margin: 10px 15px;
  background:rgba(255, 255, 255, 1);
  border-radius: 5px;
  text-align: center;
  line-height: 36px;
  font-weight: 700;
  font-size: 25px;
  box-shadow: 3px 3px 3px gray;
}

.btn {
  margin: 20px auto;
  width: 93px;
  height: 34px;
  background: rgba(80, 53, 255, 1);
  border: 0px;
  border-radius: 5px;
  color: white;
}

.btn:hover {
  cursor: pointer;
}